<div class="container">
    <h1>Hello, Burger Lovers!!!</h1>

    <img src="hamburger.jpg" height="200" width="200">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Burgers</li>
                {{#each burgers}}
                <li class="list-group-item">
                    {{this.burger_name}}
                    <button data-id="{{this.id}}" class="devoured">devoured</button>
                </li>

                {{/each}}
            </ul>
        </div>
    </div>

    